 <section class="stuff">
   {% for images in entry.StuffImage.all() %}
          {% set image = images.leftImage.one() %}
          {% if image | length %}
      <img src="{{ image.url() }}" alt="image-left" class="img-left">
      {% else %}
       <img src="{{siteUrl}}asset/images/img-3.png" alt="image-left" class="img-left">
       {% endif %}
      {% endfor %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <div class="row">                
<!--                 <div class="col-md-3">
                    <img src="{{siteUrl}}asset/images/img-3.png" alt="image-left" class="img-left">
                </div> -->
                <div class="col-md-6 offset-md-3 p-0">
                  <h2>{{entry.stuffHeading}}</h2>
                  <p>{{entry.stuffDescription}}</p>
                  {% for images in entry.StuffImage.all() %}
          {% set image = images.circleImage.one() %}
          {% if image | length %}
              <img src="{{ image.url() }}" alt="image-left" class="img-crcle">
              {% else %}
               <img src="{{siteUrl}}asset/images/img-2.png" alt="image-left" class="img-crcle">
               {% endif %}
              {% endfor %}
              <a class="btn btn-success" href="#contact-form">Contact us</a>               
                </div>
<!--                 <div class="col-md-3">
                  <img src="{{siteUrl}}asset/images/img-4.png" alt="image-left" class="img-right">
                </div> -->
            <div class="col-md-12">
              <div class="image-centre">
               {% for images in entry.StuffImage.all() %}
          {% set image = images.centerImage.one() %}
          {% if image | length %}
                <img src="{{ image.url() }}" alt="image-left">
                {% else %}
                <img src="{{siteUrl}}asset/images/play.jpg" alt="image-left">
                 {% endif %}
              {% endfor %}
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       {% for images in entry.StuffImage.all() %}
          {% set image = images.rightImage.one() %}
          {% if image | length %}
          <img src="{{ image.url() }}" class="img-right">
           {% else %}
          <img src="{{siteUrl}}asset/images/img-4.png" alt="image-left" class="img-right">
          {% endif %}
              {% endfor %}
    </section>