 <section class="stuff">
      <img src="{{siteUrl}}asset/images/img-3.png" alt="image-left" class="img-left">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <div class="row">                
<!--                 <div class="col-md-3">
                    <img src="{{siteUrl}}asset/images/img-3.png" alt="image-left" class="img-left">
                </div> -->
                <div class="col-md-6 offset-md-3 p-0">
                  <h2>More of the good stuff,<br>none of the bad</h2>
                  <p>Say hello to the first plant-based meat-alternative that boasts a short list of easy to read ingredients AND is shelf-stable!</p> 
<p>So Veggie “So Wise!” is a great tasting vegan protein, free of artificial colours and preservatives as well as being non-GMO. Because you care about what you put in your body, we used lots of the good stuff and left out the bad.</p>
              <img src="{{siteUrl}}asset/images/img-2.png" alt="image-left" class="img-crcle">
              <a class="btn btn-success" href="#">Contact us</a>               
                </div>
<!--                 <div class="col-md-3">
                  <img src="{{siteUrl}}asset/images/img-4.png" alt="image-left" class="img-right">
                </div> -->
            <div class="col-md-12">
              <div class="image-centre">
                <img src="{{siteUrl}}asset/images/play.jpg" alt="image-left">
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="{{siteUrl}}asset/images/img-4.png" alt="image-left" class="img-right">
    </section>