<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favion image -->
    <link rel="icon" href="../..favicon.ico">
    <title>So veggie So Wise</title>
    <!-- Bootstrap core CSS -->
    <link href="{{siteUrl}}asset/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{siteUrl}}asset/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this project-->
   <link href="{{siteUrl}}asset/css/style.css" rel="stylesheet">
   <link href="{{siteUrl}}asset/css/owl.carousel.css" rel="stylesheet">
   <link href="{{siteUrl}}asset/css/owl.carousel.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{{siteUrl}}asset/images/logo.png"/alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Our products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Facts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-success" href="#contact-form">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link oval" href="#">Fr</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    
{% block content %}
   
   {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="logo" href="#">
              <img src="{{siteUrl}}asset/images/footer-logo.png">
            </a>
          </div>
          <div class="col-md-9">
            <div class="widget-link">
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our products</a></li>
                <li><a href="#">Facts</a></li>
                <li><a href="#" class="btn btn-success">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row widget-2">
          <div class="col-md-9">
            <div class="copy-text">
              <p>©Copyright 2021/So Veggie “So Wise!”</p>
              <p class="mb-0">I-D FOODS CORPORATION 1800 Desserte S Autoroute 440, Laval, Québec H7S 2E7</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-link social-link">
              <ul>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{{siteUrl}}asset/js/jquery.js"></script>
    <script src="{{siteUrl}}asset/js/popper.min.js"></script>
    <script src="{{siteUrl}}asset/js/bootstrap.min.js"></script>
    <script src="{{siteUrl}}asset/js/bootstrap.js"></script>

    <script src="{{siteUrl}}asset/js/owl.carousel.min.js"></script>
    <script src="{{siteUrl}}asset/js/owl.carousel.js"></script>
    <script>
      jQuery(document).ready(function(){
      var owl = jQuery('.owl-carousel');
          owl.owlCarousel({
            margin:25,
            loop: true,
            responsive: {
              0: {
                items: 1
              },
              600: {
                items: 2
              },
              1000: {
                items: 1
              }
            }
          })
    });
          
  </script>
  </body>
</html>
